# History files
.Rhistory
.Rapp.history
# Session Data files
.RData
.RDataTmp
# User-specific files
.Ruserdata
# Example code in package build process
*-Ex.R
# Output files from R CMD build
/*.tar.gz
# Output files from R CMD check
/*.Rcheck/
# RStudio files
.Rproj.user/
# Output
*.html
*.pdf
*.md
*.tex
*.docx
# produced vignettes
vignettes/*.html
vignettes/*.pdf
# OAuth2 token, see https://github.com/hadley/httr/releases/tag/v0.3
.httr-oauth
# knitr and R markdown default cache directories
*_cache/
/cache/
# Temporary files created by R markdown
*.utf8.md
*.knit.md
*.aux
*.synctex
# R Environment Variables
.Renviron
# pkgdown site
docs/
# Data
*.zip
# translation temp files
po/*~
# RStudio Connect folder
rsconnect/
1-StatisticalLearning_files
2-SimpleClassification_files
Data
ML4GIS.Rproj
5-MapsWithR_files
4-RandomForestImputation_files
4-RandomForest_files
RFwithGIS_files
GISVanuatu_files
GIScode.Rmd
AdvancedMLwithGISForLC_files
Introduction à la cartographie avec R_files
MLwithGISForLC_files
CoursThibault.R
MLwithRadiantEarthData_files
ROIs_pts.zip
AdvancedMLwithGISForLC.docx
